<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	<typeAliases>
		<typeAlias type="com.okky.web.domain.MakerVo" alias="Maker" />
		<typeAlias type="com.okky.web.domain.SaleBoardVo" alias="SaleBoard" />
		<typeAlias type="com.okky.web.domain.ProductVo" alias="Product" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/maker.xml" />
		<mapper resource="mappers/saleBoard.xml" />
		<mapper resource="mappers/product.xml" />
	</mappers>
</configuration>
